{"openapi":"3.0.1","info":{"title":"Goormthon 5 Backend API","description":"Goormthon 5 backend swagger documentation","contact":{"name":"Backend Team"},"version":"v1"},"servers":[{"url":"https://goormthon-5.goorm.training"}],"paths":{"/api/reservations":{"get":{"tags":["reservation-controller"],"operationId":"list","parameters":[{"name":"userId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ListItemDto"}}}}}}},"post":{"tags":["reservation-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateResponse"}}}}}}},"/api/favorites":{"get":{"tags":["favorite-controller"],"operationId":"list_1","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ListItemDto"}}}}}}},"post":{"tags":["favorite-controller"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ActionResponse"}}}}}},"delete":{"tags":["favorite-controller"],"operationId":"delete","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"accommodationId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ActionResponse"}}}}}}},"/api/accommodations/{accommodationId}/guest-books":{"get":{"tags":["guest-book-controller"],"operationId":"list_3","parameters":[{"name":"accommodationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ListItemDto"}}}}}}},"post":{"tags":["guest-book-controller"],"operationId":"create_2","parameters":[{"name":"accommodationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["request"],"type":"object","properties":{"request":{"$ref":"#/components/schemas/CreateRequest"},"image":{"type":"string","format":"binary"}}}}}},"responses":{"204":{"description":"No Content"}}}},"/api/accommodations/{accommodationId}/ai-rewrite":{"post":{"tags":["accommodation-controller"],"operationId":"aiRewrite","parameters":[{"name":"accommodationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RewriteResponse"}}}}}}},"/api/health":{"get":{"tags":["health-controller"],"operationId":"health","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/favorites/status":{"get":{"tags":["favorite-controller"],"operationId":"status","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"accommodationId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}}}}},"/api/accommodations":{"get":{"tags":["accommodation-controller"],"operationId":"list_2","parameters":[{"name":"areaGroup","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ListItemDto"}}}}}}}},"/api/accommodations/{accommodationId}":{"get":{"tags":["accommodation-controller"],"operationId":"detail","parameters":[{"name":"accommodationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DetailDto"}}}}}}},"/api/accommodations/search":{"get":{"tags":["accommodation-controller"],"operationId":"search","parameters":[{"name":"keyword","in":"query","required":false,"schema":{"type":"string"}},{"name":"startDate","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"endDate","in":"query","required":false,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ListItemDto"}}}}}}}}},"components":{"schemas":{"CreateRequest":{"type":"object","properties":{"accommodationId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"guestCount":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"}}},"CreateResponse":{"type":"object","properties":{"hasReservation":{"type":"boolean"},"message":{"type":"string"},"reservationId":{"type":"integer","format":"int64"}}},"ActionResponse":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"favoriteId":{"type":"integer","format":"int64"}}},"RewriteResponse":{"type":"object","properties":{"accommodationId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"}}},"AccommodationHostInfoDto":{"type":"object","properties":{"personality":{"type":"string"},"trait":{"type":"string"},"cleanlinessLevel":{"type":"string"},"hasWifi":{"type":"boolean"}}},"ListItemDto":{"type":"object","properties":{"reservationId":{"type":"integer","format":"int64"},"accommodationId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"guestCount":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date"},"endDate":{"type":"string","format":"date"},"accommodationHostInfo":{"$ref":"#/components/schemas/AccommodationHostInfoDto"},"averageRating":{"type":"number","format":"double"},"guestBookCount":{"type":"integer","format":"int64"}}},"StatusResponse":{"type":"object","properties":{"isfavorited":{"type":"boolean"},"favoriteId":{"type":"integer","format":"int64"}}},"AddressDto":{"type":"object","properties":{"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"address_group":{"type":"string"},"address_short":{"type":"string"},"address_detail":{"type":"string"}}},"DetailDto":{"type":"object","properties":{"accommodationId":{"type":"integer","format":"int64"},"name":{"type":"string"},"description":{"type":"string"},"address":{"$ref":"#/components/schemas/AddressDto"},"cost":{"type":"integer","format":"int32"},"imageUrl":{"type":"string"},"accommodationHostInfo":{"$ref":"#/components/schemas/AccommodationHostInfoDto"},"averageRating":{"type":"number","format":"double"},"guestBookCount":{"type":"integer","format":"int64"},"options":{"type":"array","items":{"$ref":"#/components/schemas/OptionDto"}}}},"OptionDto":{"type":"object","properties":{"optionId":{"type":"integer","format":"int64"},"name":{"type":"string"},"price":{"type":"integer","format":"int32"}}}}}}