.root {
  isolation: isolate;

  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #e1feff; /* 임시 */
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
